body {
  background-color: #1a1a1a;
}

h1 {
  font-family: 'Comic Sans MS';
}

header {
  background: #000000;
  color: white;
  font-size: 18px;
  height: auto;
}

footer {
  background: #000000;
  color: white;
  font-size: 18px;
  display: block;
}

.headeritem {
  font-family: 'Comic Sans MS';
}

img.logo {
  padding-left: 10px;
  padding-top: 10px;
  width: 200px;
}

p {
  font-family: 'Comic Sans MS';
}

li {
  color: white;
}

.normal {
  color: lightgray;
  font-family: 'Comic Sans MS';
}

.black {
  color: black;
  font-family: 'Comic Sans MS';
}

.normallink {
  font-family: 'Comic Sans MS';
  color: lightskyblue;
}

.whitelink {
  font-family: 'Comic Sans MS';
  color: lightgray;
}

.normalsmall {
  color: lightgray;
  font-size: 15;
  font-family: 'Comic Sans MS';
  padding-left: 60px;
  padding-top: 10px;
}

.headerlink {
  color: white;
}

.link {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 3fr 3fr;
  gap: 5px;
  background-color: black;
  padding: 5px;

  transform: scale(0.6, 0.6);
}

.container>div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.container>div.header {
  grid-area: header;
  text-align: center;
}

.container>div.menu {
  grid-area: menu;
}

.container>div.content {
  grid-area: content;
  color: black;
}

.container>div.footer {
  grid-area: footer;
}

.dropdown {
  display: inline-block;
}

.dropdown button {
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover button {
  background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover {
  background-color: hsl(0, 0%, 90%);
}